{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-console": 0,
    "linebreak-style": 0,
    "import/no-extraneous-dependencies": 0,
    "max-len": [
      1,
      200,
      2,
      {
        "ignoreComments": true
      }
    ],
    "no-underscore-dangle": "off",
    "indent": "off",
    "no-param-reassign": "warn",
    "object-curly-spacing": "off",
    "global-require": "off",
    "prefer-destructuring": "warn",
    "class-methods-use-this": "warn",
    "no-unused-vars": "warn",
    "no-confusing-arrow": "warn",
    "spaced-comment": "warn"
  },
  "extends": [
    "airbnb-base",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "16.6"
    },
    "import/resolver": {
      "alias": [
        [
          "src",
          "./src"
        ]
      ]
    }
  }
}
