.styles {
    &-container {
        width: 100%;
        height: 100%;
        position: absolute;
        background: hsl(217, 47%, 52%);
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    &-header {
        font-size: 50px;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
    }

    &-image {
        $size: 90px;
        width: $size;
        height: $size;
        margin: 25px 0 0 0;
    }
}
